<html> 
<head>  
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<title>逆透视变换</title>
<link rel="stylesheet" type="text/css" href="../static/default.css">

<script type="text/javascript">
function inputFileButtonChecked()
{
  //大括号不换行,我浑身难受!
  var fileInput = document.getElementById("inputFileId").files[0];
  var reader = new FileReader(); 
  reader.readAsDataURL(fileInput);//将文件以Data URL形式读入页面  

  reader.onload=function()
  { 
    var c = document.getElementById("srcImageCanvas"); 
    var cxt = c.getContext("2d");
    var img = new Image();
    
    img.onload = function()
    {
      cxt.drawImage(img,0,0);
    }
    img.src = reader.result;
  }   
  //3.0 将图片保存到本地
  /*
  var savaFile=function(data,filename)
  {
      var save_link=document.createElement('a');
      save_link.href=data;
      save_link.download=filename;
      save_link.click();
  }
  
  savaFile(reader,"aaa.bmp");
  alert('ok');
  */ 
}
</script>

</head>

<body>
<header>
<h1>逆透视变换</h1>
</header>

<nav>
<a href="base.html">运行逆透</a>
<br/>
<a href="tutorial.html">教程</a>
<br/>
</nav>

<section>
上传原图像:
<br/>
<input type="file" name = "inputFile" id = "inputFileId" accept="image/*" />     
<button  type = "submit" name = "inputFileButton" value = "提交" id = "inputFileButtonId" onclick="inputFileButtonChecked()" />提交</button>
</br>



<canvas id="srcImageCanvas" width="260" height="130" style="border:1px solid #c3c3c3;">
你的浏览器不支持canvas,请换用firefox或chrome.
</canvas>
</section>

<div id="result" name="result"></div>  

<footer>
作者: 墨羽VGC
</footer>

</body>
</html>