<html> 
<head>  
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<title>透视变换矩阵计算</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='default.css')}}">
<! script type="text/javascript" src="{{url_for('static', filename='cnvs.js')}}"><! /script>
</head>

<body>
<header>
<h1>透视变换矩阵计算</h1>
</header>

<nav>
<a href="/">运行</a>
<br/>
<a href="tutorial">教程</a>
<br/>
</nav>

<section>
上传原图像:
<br/>
<! input type="file" name = "inputFile" id = "inputFileId" accept="image/*" />     
<! button  type = "submit" name = "inputFileButton" value = "提交" id = "inputFileButtonId" onclick="inputFileButtonChecked()" />提交<!/button>

<form method="POST" enctype="multipart/form-data">
     {{ form.hidden_tag() }}
     {{ form.photo }}
     {% for error in form.photo.errors %}
         <span style="color: red;">{{ error }}</span>
     {% endfor %}
     {{ form.submit }}
</form>

<canvas id="srcImageCanvas" width="260" height="130">
你的浏览器不支持canvas,请换用firefox或chrome.
</canvas>

{% if fileUrl %}
<script>
var c = document.getElementById("srcImageCanvas"); 
var cxt = c.getContext("2d");
var img = new Image();

img.onload = function()
{
  cxt.drawImage(img,0,0);
}
img.src = {{ fileUrl|safe }}; 
</script>
{% endif %}

</br>
目标图像:
</br>
<canvas id="dstImageCanvas" width="260" height="130">
你的浏览器不支持canvas,请换用firefox或chrome.
</canvas>


</br>
目标图像结果:
</br>
<canvas id="rstImageCanvas" width="260" height="130" >
你的浏览器不支持canvas,请换用firefox或chrome.
</canvas>
</section>

<footer>
墨羽VGC
</footer>

</body>
</html>