<html> 
<head>  
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<title>透视变换矩阵计算</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='default.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='cnvs.js')}}"></script>
<script>
    function cnvsLoad()
    {
        var srcImageC = document.getElementById("srcImageCanvas");
        var dstImageC = document.getElementById("dstImageCanvas");
        var rstImageC = document.getElementById("rstImageCanvas");
        var srcImageCxt = srcImageC.getContext("2d");
        var srcImg = new Image();
        srcImg.onload = function()
        {
            srcImageC.setAttribute("width", srcImg.naturalWidth);
            srcImageC.setAttribute("height", srcImg.naturalHeight);
            dstImageC.setAttribute("width", srcImg.naturalWidth);
            dstImageC.setAttribute("height", srcImg.naturalHeight);
            rstImageC.setAttribute("width", srcImg.naturalWidth);
            rstImageC.setAttribute("height", srcImg.naturalHeight);
            srcImageCxt.drawImage(srcImg,0,0);
        };
        srcImg.src = {{ fileUrl|safe }};
    }

    function cnvsReload()
    {
        var srcImageC = document.getElementById("srcImageCanvas");
        var srcImageCxt = srcImageC.getContext("2d");
        var srcImg = new Image();
        srcImg.src = {{ fileUrl|safe }};
        srcImageCxt.drawImage(srcImg,0,0);
    }
</script>
</head>

<body>
<header>
<h1>透视变换矩阵计算</h1>
</header>

<nav>
<a href="/">运行</a>
<br/>
<a href="tutorial">教程</a>
<br/>
</nav>

<section>
上传原图像:
<br/>
<form action="{{ url_for('main.upload') }}" method="POST" enctype="multipart/form-data">
     {{ uploadForm.hidden_tag() }}
     {{ uploadForm.photo }}
     {% for error in uploadForm.photo.errors %}
         <span style="color: red;">{{ error }}</span>
     {% endfor %}
     {{ uploadForm.submit }}
</form>

<canvas id="srcImageCanvas" width="188" height="120"
        onmousemove="cnvsMouseMove(event, this.id, 'srcImageXYShow')"
        onclick="cnvsClick(event, this.id, 'srcImageXY'), cnvsReload(), cnvsDraw(event, this.id)">
你的浏览器不支持canvas,请换用firefox或chrome.
</canvas>

<p id="srcImageXYShow"></p>

<hr/>
目标图像:
<br/>
<canvas id="dstImageCanvas" width="188" height="120">
你的浏览器不支持canvas,请换用firefox或chrome.
</canvas>

<hr/>
目标图像结果:
<br/>
<canvas id="rstImageCanvas" width="188" height="120">
你的浏览器不支持canvas,请换用firefox或chrome.
</canvas>
</section>

{% if fileUrl %}
<script>
    cnvsLoad();
</script>
{% endif %}

<form action="{{ url_for('main.doPerspect') }}" method="POST">

     {{ doPerspectForm.coord.label }}
     {{ doPerspectForm.coord(id='srcImageXY') }}
     {{ doPerspectForm.hidden_tag() }}
     {{ doPerspectForm.submit }}
</form>


<footer>
墨羽VGC
</footer>

</body>
</html>