<html> 
<head>  
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<title>透视变换矩阵计算</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='default.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='cnvs.js')}}"></script>
<script>
    function cnvsLoad()
    {
        var srcImageC = document.getElementById("srcImageCanvas");
        var dstImageC = document.getElementById("dstImageCanvas");
        var rstImageC = document.getElementById("rstImageCanvas");

        var srcImageCxt = srcImageC.getContext("2d");
        var srcImg = new Image();
        srcImg.onload = function()
        {
            srcImageC.setAttribute("width", srcImg.naturalWidth);
            srcImageC.setAttribute("height", srcImg.naturalHeight);
            dstImageC.setAttribute("width", srcImg.naturalWidth);
            dstImageC.setAttribute("height", srcImg.naturalHeight);
            rstImageC.setAttribute("width", srcImg.naturalWidth);
            rstImageC.setAttribute("height", srcImg.naturalHeight);
            srcImageCxt.drawImage(srcImg,0,0);
            getXY('srcImgCoordInput');
            getXY('dstImgCoordInput');
            cnvsDraw("srcImageCanvas");
            cnvsDraw("dstImageCanvas");
            //cnvsClick(event, "srcImageCanvas", 'srcImgCoordIndex', 'srcImgCoordInput');
            //cnvsClick(event, "dstImageCanvas", 'dstImgCoordIndex', 'dstImgCoordInput');
        };
        srcImg.src = {{ fileUrl|safe }};
    }

    function cnvsReload(cnvsId)
    {
        var imageC = document.getElementById(cnvsId);
        var imageCxt = imageC.getContext("2d");
        if(cnvsId === "srcImageCanvas")
        {
            var img = new Image();
            img.src = {{ fileUrl|safe }};
            imageCxt.drawImage(img, 0, 0);
        }
        else if(cnvsId === "dstImageCanvas")
        {
            imageCxt.fillStyle="#000000";
            imageCxt.fillRect(0, 0, imageCxt.canvas.width, imageCxt.canvas.height);
        }
    }
</script>
</head>

<body>
<header>
    <h1>透视变换矩阵计算</h1>
</header>

<nav>
    <a href="/">运行</a>
    <br/>
    <a href="tutorial">教程</a>
    <br/>
</nav>

<section>
    上传原图像:
    <br/>
    <form action="{{ url_for('main.upload') }}" method="POST" enctype="multipart/form-data">
        {{ uploadForm.hidden_tag() }}
        {{ uploadForm.photo }}
        {% for error in uploadForm.photo.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ uploadForm.submit }}
    </form>

    <canvas id="srcImageCanvas" width="188" height="120"
            onmousemove="cnvsMouseMove(event, this.id, 'srcImgCoordShow')"
            onclick="cnvsClick(event, this.id, 'srcImgCoordIndex', 'srcImgCoordInput'), cnvsReload(this.id), cnvsDraw(this.id)">
    你的浏览器不支持canvas,请换用firefox或chrome.
    </canvas>

    <p id="srcImgCoordShow"></p>

    <span>当前选中第</span>
    <select id="srcImgCoordIndex">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <span>个坐标</span>

    <hr/>
    目标图像:
    <br/>
    <canvas id="dstImageCanvas" width="188" height="120"
            onmousemove="cnvsMouseMove(event, this.id, 'dstImgCoordShow')"
            onclick="cnvsClick(event, this.id, 'dstImgCoordIndex', 'dstImgCoordInput'), cnvsReload(this.id), cnvsDraw(this.id)">
    你的浏览器不支持canvas,请换用firefox或chrome.
    </canvas>

    <p id="dstImgCoordShow"></p>

    <span>当前选中第</span>
    <select id="dstImgCoordIndex">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <span>个坐标</span>
</section>

<section>
    <form action="{{ url_for('main.doPerspect') }}" method="POST">
        {{ doPerspectForm.hidden_tag() }}
        {{ doPerspectForm.srcImgCoord.label }}
        <span>&nbsp;&nbsp;</span>
        {{ doPerspectForm.srcImgCoord(id='srcImgCoordInput', size=50) }}
        {% for error in doPerspectForm.srcImgCoord.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br/>
        {{ doPerspectForm.dstImgCoord.label }}
        {{ doPerspectForm.dstImgCoord(id='dstImgCoordInput', size=50) }}
        {% for error in doPerspectForm.dstImgCoord.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br/>
        {{ doPerspectForm.submit }}
    </form>

    <hr/>
    目标图像结果:
    <br/>
    <canvas id="rstImageCanvas" width="188" height="120">
    你的浏览器不支持canvas,请换用firefox或chrome.
    </canvas>
</section>

{% if fileUrl %}
    <script>
        cnvsLoad();
    </script>
{% endif %}

<footer>
    <a href="https://github.com/voaignidc" target="_blank">墨羽VGC</a>
</footer>

</body>
</html>