<html>  
<head>  
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<title>使用教程</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='default.css')}}">
</head>
<body>
<header>
    <h1>使用教程</h1>
</header>

<nav>
    <a href="/">运行</a>
    <br/>
    <a href="tutorial">教程</a>
    <br/>
</nav>

<section>
教程还没写
</section>


<footer>
    <a href="https://github.com/voaignidc" target="_blank">墨羽VGC</a>
</footer>

</body>
</html>